/temp/
../../migrations/__pycache__/
../../migrations/versions/__pycache__/
../../.idea/
../__pycache__/
../models/__pycache__/
../repository/__pycache__/
../service/__pycache__/
../validator/__pycache__/
