# flask==2.2
# Flask-SQLAlchemy==3.0.3
# Flask-Migrate==4.0.4
# psycopg2-binary==2.9.6
# dependency-injector==4.41.0
# Bootstrap-Flask==2.2.0


dependency-injector
flask
bootstrap-flask
pygithub
pyyaml
pytest-flask
pytest-cov
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
psycopg2-binary==2.9.6